.title {
    font-weight: var(--font-bolder);
    font-size: 1.3rem;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.title span {
    font-size: 1.1rem;
}